cycler==0.10.0
entrypoints==0.3
flake8==3.7.7
kiwisolver==1.1.0
matplotlib==3.1.0
mccabe==0.6.1
numpy==1.16.4
opencv-contrib-python==3.4.2.17
pkg-resources==0.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
